

.menu-group{
    display: inline;
    margin: 0;
    
}
.menu-title{
    display: inline;
    margin: 0;
    
}
.menu-img{
    color: red;
    float:left;
    margin: 5px;
    width: 20%;
}
.menu-img img{
    width: 100%;
}
.menu-name{
 margin: 5px;
 width: 40%;
 float: left;
}
.menu-add{
    margin: 5px;
    float:left;
    width: 10%;
}
.menu-title h3{
    margin: 0;
    padding: 0;
}

#checkout {
  position: fixed ;
  right: 0 ;
  top: 1;
  z-index: 1 ;
   width: 400px;
    border: 3px solid #403737;
}

#checkout button{
    background-color: green;
    font-size: 25px;
    border: none;
    margin-top: 0px;
    border-radius: 0px;
    color: white;
    padding: 15px;
    width: 100%;
}
#checkout h2{
    background-color: white;
    font-size: 25px;
    margin-top: 5px;
    color: #403737;
    padding: 15px;
    width: 90%;
    text-align: center;
    text-transform: uppercase;
}
@media (max-width: 768px) {
    .menu-img, .menu-name, .menu-add{
        float: none;
    }
    .menu-title{
        display: none;
    }
    .menu-img img{
    width: 200px;
    }
    #checkout/*button first*/ {
  position: fixed ;
  bottom: 0;
  z-index: 1 ;
   width: 100%;
    border: 3px solid #403737;
}
}