#fmenu  label{
    float: right;
    color: black;
    
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 0px;
}
#fmenu .gallery {
    float: left;
    width: auto;
    padding: 0px;
}
#fmenu span {
    font-weight: bold;
}
#fmenu .gallery img{
    width: 200px;
}
