

.menu-group{
    display: inline;
    margin: 0;
    
}
.menu-title{
    display: inline;
    margin: 0;
    
}
.menu-img{
    color: red;
    float:left;
    margin: 5px;
    width: 30%;
}
.menu-img img{
    width: 200px;
}
.menu-name{
 margin: 5px;
 width: 40%;
 float: left;
}
.menu-add{
    margin: 5px;
    float:right;
    width: 10%;
}
.menu-title h3{
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .menu-img, .menu-name, .menu-add{
        float: none;
    }
    .menu-title{
        display: none;
    }
}